name: URL Validator

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    name: URL Checker
    runs-on: ubuntu-latest

    steps:
    - name: URL-checker
      uses: SuperKogito/URLs-checker@0.2.1
      with:
        git_path: https://github.com/TheBusyBiscuit/TheBusyBiscuit
        file_types: .md
        print_all: false
        retry_count: 2
